body{
    text-align: center;
}
.first{
    background-color: red;
   
}
.second{
    background-color: green;
   
}
.third{
    background-color: blue;
    
}
.four{
    background-color: yellow;
   
}
.main{
     margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
.btn{
    height: 150px;
    width:150px;
    border:3px solid black;
    border-radius: 16px;
    margin:10px;
}
.flash{
    background-color: white;
}
.userflash{
    background-color:black;
}